<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')}}" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet"  href="{{ url_for('static' ,filename='css/bootstrap.min.css')}}" >
    <title>Pregsys</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Pregsys.</h1>
            <nav>
               
                  <a href="index.html">Home</a>
                   
                
            </nav>
        </div>
    </div>
    
    <!-- Showcase -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Tripura</h1>
                <p>The following shows visualization and a comprehensive comparison of the distribution of IMR within Urban and Rural areas within the State</p>
                
            </div>
        </div>
    </section>

    
   

        

<div class="container-lg mt-3"  style="background-color:#ffffff; padding-top: 50px;">

     <div class="row">
        <div class="col" style="padding:10px">
            <figure class="1" style=" padding:15px ; border:2px solid gray; background: white; width:80%; dispaly: block ; margin_left: auto; margin-right: auto">
            <img src="static\images\infant_mortality_bar_charts\Tripura_IMR.png" alt="Italian Trulli" style="  padding:15px;   display: block; margin-left: auto; margin-right: auto; width: 80%;">
            <figcaption style="text-align: center;">infant_mortality_bar_charts</figcaption>
         </figure>
        </div>
        <div class="col" style="padding:10px">
            <figure class="1" style=" padding:15px ; border:2px solid gray; background: white; width:80%; dispaly: block ; margin_left: auto; margin-right: auto">
            <img src="static\images\institutional_birth_bar_charts\Tripura.png" alt="Italian Trulli" style="width: 80%;  padding:15px; display: block; margin-left: auto; margin-right: auto; ">
            <figcaption style="text-align: center;">institutional_birth_bar_charts</figcaption>
         </figure>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding:10px">
            <figure class="1" style=" padding:15px ; border:2px solid gray; background: white; width:80%; dispaly: block ; margin_left: auto; margin-right: auto">
            <img src="static\images\infant_mortality_pie_charts\Tripura_IMR.png" alt="Italian Trulli" style="width: 80%;  padding:15px;  display: block; margin-left: auto; margin-right: auto;">
            <figcaption style="text-align: center;">infant_mortality_pie_charts</figcaption>
         </figure>
        </div>
        <div class="col" style="padding:10px">
            <figure class="1" style=" padding:15px ; border:2px solid gray; background: white; width:80%; dispaly: block ; margin_left: auto; margin-right: auto">
            <img src="static\images\institutional_birth_pie_charts\Tripura.png" alt="Italian Trulli" style="width: 80%;  padding:15px; display: block; margin-left: auto; margin-right: auto;  ">
            <figcaption style="text-align: center;">Iinstitutional_birth_pie_charts</figcaption>
         </figure>
        </div>
    </div>

</div>




    

    

</body>
</html>
